{% extends 'base.html' %}
{% block content%}

<form method="POST">
    {% csrf_token %}
    <div class="card text-center" style="width: 20rem">
        <div class="card-body">
            <h1 class="font-weight-bold py-3">Add a project</h1>
            <div class="form-outline mb-4">
                <input type="text" name="title" placeholder="Enter the Title" class="form-control" />
                <br>
            </div>

            <div class="form-outline mb-4">
                <input type="number" name="allocated" placeholder="Enter the starting balance" class="form-control" />
                <br>
            </div>
            <button type="submit" class="btn btn-md btn-success">Add Project</button>
        </div>
    </div>
</form>
{%endblock content%}