{%extends 'base.html'%}
{%block content%}
<h1 class="text-center mt-3">
    {{project.title}}
</h1>
<form method="POST">
    {% csrf_token %}
    <div class="card text-center">
        <div class="card-body">
            <div class="mb-3">
                <input name="name" placeholder="Enter Purchase name" type="text" class="form-control" />
            </div>

            <div class="mb-3">
                <input name="quantity" placeholder="Enter Quantity" type="number" class="form-control" />
            </div>

            <div class="mb-3">
                <input name="price" placeholder="Enter price" type="number" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
<div class="card">
    <h class="text-center">
        {{project.used_budget}}
    </h>
    <table>
        <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </thead>
        {%for purchase in purchases.all%}
        <tr>
            <td>{{purchase.name}}</td>
            <td>{{purchase.quantity}}</td>
            <td>{{purchase.price}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
{%endblock content%}