{%extends 'base.html'%}
{%block content%}

<h2 class="f1 mt-3">Budget Management Portal</h2>
<ul>
  {%for project in projects.all%}
  <li>
    <div class="card">
      <h2 class="title">{{project.title}}</h2>
      <div class="right-top">
        <input type="range" min="0" max={{project.allocated}} value={{project.used_budget}} disabled></input>
        <h3 class="fundStatus">{{project.used_budget}} / {{project.allocated}}</h3>
      </div>
      <a href="{%url 'project_detail' project.id %}" class="stretched-link"></a>
    </div>
  </li>
  {% endfor %}
</ul>
<div class="text-center mb-3">
  <a class="btn btn-primary " href="{%url 'create_project' %}">Add a new project</a>
</div>

{%endblock content%}